.adblocks_728x90{
	max-width:728px;
	@extend .center;
	padding-top: 10px;
	@include gridle_clear(both);
	@include gridle_hide(phoness tabless);
}
.adblocks_728x90-single{
	max-width:728px;
	padding-top:5px;
	@include gridle_float(right);
	@include gridle_hide(phoness tabless);
}
.adblocks_970x90{
	@extend .adblocks_728x90;
	max-width:970px;
}
.adblocks_300x250{
	width:300px;
	@extend .center;
	margin-bottom: 20px !important;
}