.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.no-margins{
	margin:0 !important;
}
.no-paddings{
	padding:0 !important;
}
.resp_img{
	display: block;
	width:100%;
	height:auto;
}
.center{
	margin:0 auto !important;
}
ul{
	@extend .no-paddings;
	@extend .no-margins;
	list:{style:none;}
	li{
		@extend .no-paddings;
		@extend .no-margins;
	}
}
html{
	@extend .no-margins;
	@extend .no-paddings;
	body{
		@extend .no-margins;
		@extend .no-paddings;
		font:{family:$main_font;size:12px;weight:normal;}
	}
}
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
	div{
		float:left;
		width:100%;
		position: relative;
	}
}

.sticky {  
    position: fixed;  
    left: 0;  
    top: 0;  
    z-index: 100; 
}  

//MOBILE FIRST
@include gridle_register_state( phoness, (
    max-width : $bp-small
) );
@include gridle_register_state( tabletss, (
    min-width : $bp-med
) );
@include gridle_register_state( landscapess, (
    min-width : $bp-large
) );
@include gridle_register_state( desktopess, (
    min-width : $bp-xl
) );


//WEBKIT
@include gridle_register_state(webkit_brw, (screen and (-webkit-min-device-pixel-ratio:0)));