.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.no-margins{
	margin:0 !important;
}
.no-paddings{
	padding:0 !important;
}
.resp_img{
	width:100%;
	height:auto;
}
.center{
	margin:0 auto !important;
}
ul{
	@extend .no-paddings;
	@extend .no-margins;
	list:{style:none;}
	li{
		@extend .no-paddings;
		@extend .no-margins;
	}
}
html{
	@extend .no-margins;
	@extend .no-paddings;
	body{
		@extend .no-margins;
		@extend .no-paddings;
		font:{family:$main_font;size:12px;weight:normal;}
	}
}
aside{
	@extend .text-center;
	&.sidebar{
		@include gridle(4);
		h3{
			font:{size: 20px;}
			@extend .text-left;
			border:{bottom: 1px solid #CCC;}
		}
		form{
			@include gridle(12);
			@extend .text-left;
			input{
				@extend .text-center;
				height: 26px;
				&[type="email"]{
					@include gridle(8);
					border:#000 solid 1px;
				}
				&[type="submit"]{
					@include gridle(3);
					@include gridle_push(1);
					border:none;
					background:{color:$main_color;}
					color:#fff;
					font:{size:12px;weight:bold;}
				}
			}
		}
	}
}
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
	div{
		float:left;
		width:100%;
		position: relative;
	}
}

.sticky {  
    position: fixed;  
    left: 0;  
    top: 0;  
    z-index: 100; 
}  
.barra_titulos{
	@include gridle(12);
	@include gridle_parent();
	@extend .no-paddings;
	height:34px;
	background:{color:#000;}
	color:#fff;
	display: table;
	margin:10px 0;
	position: relative;
	h2{
		text:{transform:uppercase;}
		font:{family:$sec_font;size:18px;weight:normal;}
		line:{height:18px;}
		@extend .no-margins;
		@extend .no-paddings;
		display: table-cell;
		vertical-align: middle;
		padding:{left:10px !important;}
	}
	.more{
		float:right;
		height:34px;
		padding:0 10px;
		background:{color:#333;}
		display: table;
		font:{family:$sec_font;size:13px;weight:normal;}
		a{
			display: table-cell;
			vertical-align: middle;
			color:#fff;
			text:{decoration:none;}
		}
	}
	.cacho{
		position: absolute;
		top:0;
		left:-17px;
		width:17px;
		height:54px;
		background:{image:url('../img/cacho_left.gif');}
	}
}
//MOBILE FIRST
@include gridle_register_state( phoness, (
    max-width : $bp-small
) );
@include gridle_register_state( tabletss, (
    min-width : $bp-med
) );
@include gridle_register_state( landscapess, (
    min-width : $bp-large
) );
@include gridle_register_state( desktopess, (
    min-width : $bp-xl
) );


//WEBKIT
@include gridle_register_state(webkit_brw, (screen and (-webkit-min-device-pixel-ratio:0)));