.footer{
	@include gridle(12);
	@include gridle_parent();
	@extend .no-paddings;
	margin:{top:20px;}
	border:{top:10px;left:0;right:0;bottom:0;style:solid;color:$alt_color;}
	background:{color:$main_color;}
	.content{
		max-width:1170px;
		@extend .center;
		.foot_box{
			@include gridle(4, desktopess landscapess tabletss);
			svg{
				fill:#fff;
				max-width:90px;
				margin:{top:20px;}
			}
			p{
				color:#fff;
				font:{size:12px;}
			}
			h3{
				font:{size:20px;weight:bold;}
				color:#fff;
				line:{height: 20px;}
			}
			ul{
				li{
					color:#fff;
					font:{size:12px;}
					i{
						width:20px;
						margin:{right:5px}
						color:#fff;
						font:{size:20px;}
						@include gridle_clear(both);
						background:{position: center;}
					}
					a{
						color:$sec_color;
						text:{decoration:none;}
					}
				}
			}
		}
		#footer_firstbox{
			@include gridle(12, phoness);
			@include gridle_state(phoness){
				text:{align:center;}
			}	
		}
		#footer_secbox{
			@include gridle(6, phoness);
		}
		#footer_thrbox{
			@include gridle(6, phoness);	
		}
		
	}
	.redes{
		@include gridle(12);
		background:{color:#fff;}
		color:$main_color;
		@extend .text-center;
		ul{
			width:100%;
			padding-top:20px !important;
			li{
				@include gridle_state(desktopess landscapess){
					margin:0 50px !important;
				}
				@include gridle_state(phoness tabletss){
					margin:0 20px !important;
				}
				display: inline-block;
				a{
					color:$main_color;
					text:{decoration:none;}
				}
				i{
					color: #FFF;
					background:{color: $main_color;}
					@include border-top-radius(50%);
					@include border-bottom-radius(50%);
					@include border-left-radius(50%);
					@include border-right-radius(50%);
					height: 17px;
					width: 21px;
					padding:{top: 4px;}
					margin:{right:5px;}
				}
			}
		}
		.copyright{
			margin:{top:10px;bottom:10px;}
			@include gridle(12);
			@include gridle_parent();
			color:$main_color;
			font: {size:8px;}
			@extend .text-center;
			a{
				color:#000;
			}
		}
	}
}