header{
	@include gridle(12);
	@include gridle_parent();
	@include gridle_clear(both);
	background:{color:$main_color;}
	main{
		max-width:1170px;
		@extend .center;
		.logo{
			@include gridle(1);
			@include gridle_parent();
			@extend .no-paddings;
			width:54px;
			display: table;
			a{
				display: table-cell;
				vertical-align: middle;
				@include gridle(12);
				@include gridle_parent();
				@extend .no-paddings;
				padding:{top:5px !important;}
				svg{
					fill:#fff;
				}
			}
			@include gridle_state(phoness tabletss){
				margin:{left:5px;}
			}
		}
		nav{
			@include gridle(8);
			@include gridle_parent();
			padding:{top:20px;}
			ul{
				@extend .center;
				max-width:700px;
				height: 20px;
				li{
					@include gridle_float(left);
					border-right:1px solid #fff;
					position: relative;
					height: auto;
					&:last-child{
						border:none !important;
					}
					a{
						font:{size:14px;weight:bold;}
						color:#fff;
						text:{decoration:none;transform:uppercase;}
						display: block;
						width:100%;
						height:100%;
						padding:0 20px;
						position: relative;
						z-index:10;
					}
					svg{
						width:20px;
						left:0;
						right:0;
						top:0;
						opacity: 0;
						@extend .center;
						fill:$sec_color;
						position: absolute;
						z-index:1;
					}
					&.current-menu-item{
						a{
							color:$sec_color;
						}
					}
					@include gridle_state(landscapess){
						a{
							font:{size:13px;}
							padding:0 17px;
						}
					}
				}
			}
			@include gridle_state(phoness tabletss landscapess){
				display: none;
			}
			@include gridle_state(desktopess){
				display: block;
				padding:{top:25px;}
			}
		}
		.tools{
			@include gridle(3);
			@include gridle_parent();
			@extend .text-center;
			ul{
				display: inline-block;
				li{
					@include gridle_float(left);
					padding:20px 10px !important;
					a{
						display: table;
						width:21px;
						height:21px;
						background:{color:$sec_color;}
						text:{decoration:none;}
						color:$main_color;
						@extend .text-center;
						@include border-top-radius(50%);
						@include border-bottom-radius(50%);
						@include border-left-radius(50%);
						@include border-right-radius(50%);
						i{
							display: table-cell;
							vertical-align: middle;
						}
						&:hover{
							background:{color:#fff;}
						}
					}
				}
			}
			.search{
				@include gridle_float(right);
				width:20px;
				padding: 20px;
				cursor:pointer;
				i{
					color:#fff;
					font:{size:16px;}
				}
			}
			@include gridle_state(phoness tabletss){
				display: none;
			}
			@include gridle_show(desktopess);
		}
		.btn_menuph{
			float:right !important;
			@include gridle_hide(desktopess);
			background:{color:$main_color_light;}
			@extend .text-center;
			cursor: pointer;
			span{
				@include gridle(1);
				width:64px;
				height:64px;
				display: table;
				i{
					color:#fff;
					font: {size:26px;}
					display: table-cell;
					vertical:{align: middle;}
				}
			}
		}
	}
	.cont_search{
		@include gridle_clear(both);
		max-width:1170px;
		@extend .center;
		position: relative;
		overflow: hidden;
		display: none;
		padding:{bottom:10px;}
		form{
			input{
				@include gridle(12);
				color:#fff;
				border: none;
				height: 40px;
				font:{size:20px;}
				background:{color:rgba(255,255,255,.5);}
			}
		}
	}
	@include gridle_state(phoness tabletss){
		padding:{left:0;right:0;}
	}
}