.share_contsingle{
	@include gridle(12);
	margin:10px 0;
	.addthis_toolbox{
		.count_share{
			@include gridle(1, desktopess landscapess);
			@include gridle_state(desktopess landscapess){
				border:{right:1px solid #aaa;}
			}
			@include gridle(2, phoness tabletss);
			p{
				@include gridle(12);
				@extend .no-paddings;
				@extend .no-margins;
				@include gridle_state(desktopess landscapess){
					font:{size:14px;}
				}
				@include gridle_state(phoness tabletss){
					font:{size:9px;}
					text:{align:center;}
				}
			}
			span{
				display: block;
				float:none;
				@include gridle(12);
				a{
					&.addthis_button_expanded{
						background:{image:none;}
						@extend .no-paddings;
						@extend .no-margins;
						font: {size:50px;}
						line:{height:50px;}
						width:100%;
						height:100%;
					}
					&.addthis_button_compact{
						@include gridle_hide();
					}
				}
			}
		}
		.shares{
			@include gridle(11, desktopess landscapess);
			@include gridle(10, phoness tabletss);
			height: 50px;
			padding:{top:20px;}
			a{
				height:25px;
				display: table;
				color:#fff;
				text:{decoration:none;}
				padding:{left:5px;right:5px;}
				float: left;
				margin:{right:10px;}
				&.addthis_button_facebook{
					background:{color:#305891;}
				}
				&.addthis_button_twitter{
					background:{color:#2CA8D2;}
				}
				&.addthis_button_email{
					background:{color:#738A8D;}
				}
				&.addthis_button_compact{
					background:{color:#F8694D;}
				}
				i{
					font:{size:20px;}
					display: table-cell;
					vertical-align: middle;
					span{
						@include gridle_state(phoness tabletss){
							font:{size:10px;}
						}
						@include gridle_state(desktopess landscapess){
							font:{size:14px;}
						}
						font:{family:$main_font;}
						margin:{left:5px;}
					}
				}
			}
		}
	}
}
.content-single{
	@include gridle(8, desktopess landscapess);
	section{
		@include gridle(12);
		article{
			h1{
				font:{size:30px;}
				color:$main_color;
				text:{transform:uppercase;}
			}
			.img-post{
				@include gridle(12);
				@include gridle_parent();
				@include gridle_state(phoness tabletss){
					height:200px;
				}
				@include gridle_state(desktopess landscapess){
					height: 367px;
				}
				background:{size: 100%;repeat:no-repeat;position: center;}
				overflow: hidden;
				position: relative;
				.tags{
					position: absolute;
					bottom:10px;
					li{
						display: inline-block;
						margin:0 4px 0 0 !important;
						background:{color:$main_color;}
						color:#fff;
						padding:4px !important;
						a{
							color:#fff;
							text:{decoration:none;}
						}
					}
				}
			}
			.author{
				@include gridle(12);
				@include gridle_parent();
				@include gridle_clear(right);
				padding:10px 0;
				.avatar{
					width:34px;
					height:34px;
					margin:{right:10px;}
					@include border-top-radius(50%);
					@include border-bottom-radius(50%);
					@include border-left-radius(50%);
					@include border-right-radius(50%);
					@include gridle_float(left);
				}
				p{
					@include gridle_float(left);
					@extend .no-margins;
					@extend .no-paddings;
					&.autor{
						span{
							padding-right:5px;
						}
						a{
							color:#000;
							text:{decoration:none;}
						}
					}
					span{
						font:{weight:bold;}
					}
				}
			}
			p{
				img{
					max-width: 100%;
					height: auto;
				}
			}
		}
		&.related{
			@include gridle_parent();
			h2{
				@extend .text-center;
			}
			ul{
				@include gridle(12);
				@include gridle_parent();
				@extend .text-center;
				li{
					width:30%;
					margin:0 10px !important;
					display: inline-block;
					min-height: 191px;
					overflow: hidden;
					position: relative;
					background:{position: center;size:cover;}
					&:last-child{
						margin: 0 !important
					}
					&:first-child{
						margin: 0 !important
					}
					a{
						display: block;
						width:100%;
						height:100%;
						color:#fff;
						text:{transform:uppercase;decoration:none;}
						h3{
							@include gridle(12);
							position: absolute;
							bottom:0;
							left:0;
							font:{size:12px;}
							line:{height:12px;}
							padding:{top:5px;bottom:5px;}
							@extend .text-left;
							background:{color:$main_color;}
							@extend .no-margins;
						}
					}
				}
			}
		}
	}
	.nav{
		@include gridle(12);
		display: table;
		@include gridle_state(phoness tabletss){
			padding:{top:10px;bottom:10px;}
			border:{top:1px solid $main_color;bottom:1px solid $main_color;}
		}
		a{
			display:table-cell;
			vertical-align: middle;
			text:{decoration:none;}
			color:#000;
			&[rel="next"]{
				@extend .text-right;
				i{
					margin:{left:10px;right:0;}
				}
			}
			i{
				margin:{right:10px;}
			}
		}
	}
}