//FONTS
$main_font:'Titillium Web', sans-serif;
$sec_font:'Roboto', sans-serif;
//COLORS
$main_color:#2B3787;
$main_color_alpha:rgba(44,55,127,.6);
$main_color_light:#3B4CBD;
$sec_color:#26FF26;
$alt_color:#26FF26;

//BP
$bp-small : 640px;
$bp-med : 641px;
$bp-large : 1024px;
$bp-xl : 1280px;