.wrapper{
	max-width:1170px;
	@extend .center;
	@include gridle_parent();
	@include gridle_clear(both);
	.swipe{
		overflow: hidden;
		.swipe-wrap{
			.content-slide{
				background:{position:center;size:cover;};
				min-height:564px;
				overflow: hidden;
				article{
					min-height:188px;
					width:100%;
					bottom: 0;
					position: absolute;
					@extend .text-center;
					background:{color:rgba(0,0,0,.3);}
					main{
						h2{
							font:{size:50px;family:$main_font;weight:bold;}
							color:#fff;
							line:{height:50px;}
							text:{transform:uppercase;}
							@extend .no-margins;
							@extend .no-paddings;
						}
						p{
							font:{family:$sec_font;size:12px;weight:normal;}
							color:#fff;
							@extend .no-paddings;
							margin:10px 0;
						}
						.more{
							margin:0 auto;
							width:80px;
							height:25px;
							font:{weight:bold;size:12px;}
							background:{color:#fff;}
							border: none;
							float: none;
							a{
								text:{decoration:none;}
								display: block;
								width:100%;
								height:100%;
								color:#000;
							}
						}
					}
					.tags{
						width:100%;
						margin:{top:10px !important;}
						@extend .text-center;
						li{
							display: inline-block;
							padding:3px !important;
							min-width:30px;
							background:{color:$main_color;}
							margin:0 2px !important;
							span{
								color: #fff;
								@include gridle_float(left);
							}
							a{
								display: inline;
								color:#fff;
								text:{decoration:none;}
							}
						}
					}
				}
			}
		}
		.btn_prev{
			position: absolute;
			left:1%;
			top:40%;
			width:30px;
			height:30px;
			color:#fff;
			font: {size:40px;}
			cursor: pointer;
			&:hover{
				color:$main_color;
			}
		}
		.btn_next{
			@extend .btn_prev;
			left:97%;
		}
	}
	.entrena_content{
		@include gridle(12);
		@include gridle_parent();
		@include gridle_clear(both);
		@extend .no-paddings;
		.tit_bar{
			@include gridle(12);
			@include gridle_parent();
			@extend .no-paddings;
			height:34px;
			background:{color:#000;}
			color:#fff;
			display: table;
			margin:10px 0;
			position: relative;
			h2{
				text:{transform:uppercase;}
				font:{family:$sec_font;size:18px;weight:normal;}
				line:{height:18px;}
				@extend .no-margins;
				@extend .no-paddings;
				display: table-cell;
				vertical-align: middle;
				padding:{left:10px !important;}
			}
			.more{
				float:right;
				height:34px;
				padding:0 10px;
				background:{color:#333;}
				display: table;
				font:{family:$sec_font;size:13px;weight:normal;}
				a{
					display: table-cell;
					vertical-align: middle;
					color:#fff;
					text:{decoration:none;}
				}
			}
			.cacho{
				position: absolute;
				top:0;
				left:-17px;
				width:17px;
				height:54px;
				background:{image:url('../img/cacho_left.gif');}
			}
		}
		#entrena{
			@include gridle(2+1/2);
			height: 88px;
			margin:{bottom:42px;}
			@include gridle(6, phoness);
			article{
				background:{position:left;size: 88px 88px;repeat: no-repeat;}
				width: 100%;
				height: 100%;
				display: block;
				.alt_link{
					display: none;
				}
				a{
					text:{decoration:none;}
					main{
						padding:{left: 100px;}
						h2{
							font:{size:12px;weight:bold;family:$main_font;}
							color:$main_color;
							text:{transform:uppercase;}
						}
						.date{
							font:{size:9px;}
							color:#000;
						}
						.more{
							background:{color:$main_color;}
							color: #fff;
							font:{weight: bold;size: 12px;}
							width: 60px;
							@extend .text-center;
						}
					}
				}
				.tags{
					display: none;
				}
			}
			h2{
				@extend .no-margins;
				@extend .no-paddings;
			}
			&.first{
				@include gridle(6);
				height:495px;
				margin:{bottom:0;}
				padding:{left:0;}
				article{
					background:{size:cover;position: center;}
					position: relative;
					overflow: hidden;
					.alt_link{
						display: table;
						width:36px;
						height:36px;
						position: absolute;
						top:0;
						left:0;
						background:{color:$alt_color;}
						color:#fff;
						font:{size:20px !important;}
						@extend .text-center;
						i{
							display: table-cell;
							vertical-align: middle;
						}
					}
					a{
						main{
							@include gridle(12);
							position: absolute;
							bottom: 0;
							padding:{bottom:10px;}
							background:{color:rgba(43,52,129,.6);}
							&:hover{
								background: {color:$main_color;}
							}
							.date{
								display: none;
							}
							h2{
								font:{size:26px;weight:bold;family:$main_font;}
								color:#fff;
							}
							.more{
								background:{color:#fff;}
								color:$main_color;
								@include gridle_float(right);
								margin:{right:10px;}
							}
						}
					}
					.tags{
						display: block;
						color:#fff;
						position: absolute;
						bottom: 10px;
						padding:{left:10px  !important;right:10px !important;}
						li{
							@include gridle_float(left);
							margin: {right:10px !important;}
							a{
								font:{size:14px;family:$sec_font;}
								color:#fff;
								text:{decoration:none;}
							}
						}
					}
				}
			}
			&.last{
				@extend .first;
				height: 235px;
				padding:{right:0;left: 10px;}
			}
			&.entrena_ad{
				height:250px;
				@include gridle(3+1/2);
				@include gridle-parent();
				@include gridle-float(right !important);
				margin:{bottom:0;}
				background:{color:$main_color;}
			}
		}
	}
	.motiva_content{
		@extend .entrena_content;
		#motiva{
			@extend #entrena;
			&.first_mot{
				@extend .first;
			}
			&.last_mot{
				@extend .last;
			}
			&.motiva_ad{
				@extend .entrena_ad;
			}
		}
	}
	.equipa_content{
		@extend .entrena_content;
		#equipa{
			@include gridle(4);
			.postes{
				height:259px;
				position: relative;
				overflow: hidden;
				background: {size:cover;position: center;}
				.alt_link{
					text:{decoration:none;}
					display: table;
					width:36px;
					height:36px;
					position: absolute;
					top:0;
					left:0;
					background:{color:$alt_color;}
					color:#fff;
					font:{size:20px !important;}
					@extend .text-center;
					i{
						display: table-cell;
						vertical-align: middle;
					}
				}
				.tags{
					@include gridle(12);
					display: block;
					color:#fff;
					position: absolute;
					bottom: 0px;
					padding:{left:10px !important;right:10px !important;bottom:10px !important;top:10px !important;}
					background:{color:rgba(43,52,129,.6);}
					li{
						@include gridle_float(left);
						margin: {right:10px !important;}
						a{
							font:{size:14px;family:$sec_font;}
							color:#fff;
							text:{decoration:none;}
						}
					}
				}
			}
			.cont{
				main{
					h2{
						font:{size:26px;weight:bold;}
						line:{height:26px;}
						color:$main_color;
						text:{transform:uppercase;}
					}
					p{
						font:{family:$sec_font;size:12px;}
						color:#000;
					}
					.more{
						background:{color:$main_color;}
						@include gridle_float(right);
						padding:{left:5px;right:5px;}
						a{
							text:{decoration:none;}
							color: #fff;
							font:{weight: bold;size: 12px;}
							width: 60px;
							@extend .text-center;
						}
					}
				}
			}
		}
	}
	.inner_tit_bar{
		@include gridle(12);
		@include gridle_parent();
		@extend .no-paddings;
		height:34px;
		background:{color:#000;}
		color:#fff;
		display: table;
		margin:10px 0;
		position: relative;
		h2{
			text:{transform:uppercase;}
			font:{family:$sec_font;size:18px;weight:normal;}
			line:{height:18px;}
			@extend .no-margins;
			@extend .no-paddings;
			display: table-cell;
			vertical-align: middle;
			padding:{left:10px !important;}
		}
		.more{
			float:right;
			height:34px;
			padding:0 10px;
			background:{color:#333;}
			display: table;
			font:{family:$sec_font;size:13px;weight:normal;}
			a{
				display: table-cell;
				vertical-align: middle;
				color:#fff;
				text:{decoration:none;}
			}
		}
		.cacho{
			position: absolute;
			top:0;
			left:-17px;
			width:17px;
			height:54px;
			background:{image:url('../img/cacho_left.gif');}
		}
	}
	.content-single{
		@include gridle(8);
		section{
			@include gridle(12);
			article{
				h1{
					font:{size:30px;}
					color:$main_color;
					text:{transform:uppercase;}
				}
				.img-post{
					@include gridle(12);
					@include gridle_parent();
					height: 367px;
					background:{size: cover;}
					overflow: hidden;
					position: relative;
					.tags{
						position: absolute;
						bottom:10px;
						li{
							display: inline-block;
							margin:0 4px 0 0 !important;
							background:{color:$main_color;}
							color:#fff;
							padding:4px !important;
							a{
								color:#fff;
								text:{decoration:none;}
							}
						}
					}
				}
				img{
					@extend .resp_img;
				}
				.author{
					@include gridle(12);
					@include gridle_parent();
					@include gridle_clear(right);
					padding:10px 0;
					.avatar{
						width:34px;
						height:34px;
						margin:{right:10px;}
						@include border-top-radius(50%);
						@include border-bottom-radius(50%);
						@include border-left-radius(50%);
						@include border-right-radius(50%);
						@include gridle_float(left);
					}
					p{
						@include gridle_float(left);
						@extend .no-margins;
						@extend .no-paddings;
						&.autor{
							span{
								padding-right:5px;
							}
							a{
								color:#000;
								text:{decoration:none;}
							}
						}
						span{
							font:{weight:bold;}
						}
					}
				}
			}
			&.related{
				@include gridle_parent();
				h2{
					@extend .text-center;
				}
				ul{
					@include gridle(12);
					@include gridle_parent();
					@extend .text-center;
					li{
						width:189px;
						margin:0 10px !important;
						display: inline-block;
						min-height: 191px;
						overflow: hidden;
						position: relative;
						background:{position: center;size:cover;}
						&:last-child{
							margin: 0 !important
						}
						&:first-child{
							margin: 0 !important
						}
						a{
							display: block;
							width:100%;
							height:100%;
							color:#fff;
							text:{transform:uppercase;decoration:none;}
							h3{
								@include gridle(12);
								position: absolute;
								bottom:0;
								left:0;
								font:{size:12px;}
								line:{height:12px;}
								padding:{top:5px;bottom:5px;}
								@extend .text-left;
								background:{color:$main_color;}
								@extend .no-margins;
							}
						}
					}
				}
			}
		}
		.nav{
			@include gridle(12);
			display: table;
			a{
				display:table-cell;
				vertical-align: middle;
				text:{decoration:none;}
				color:#000;
				&[rel="next"]{
					@extend .text-right;
					i{
						margin:{left:10px;right:0;}
					}
				}
				i{
					margin:{right:10px;}
				}
			}
		}
	}
	aside{
		@extend .text-center;
		&.sidebar{
			@include gridle(4);
		}
	}
}