.wrapper{
	max-width:1170px;
	@extend .center;
	@include gridle_parent();
	@include gridle_clear(both);
	.swipe{
		overflow: hidden;
		.swipe-wrap{
			.content-slide{
				background:{position:center;size:cover;};
				min-height:564px;
				overflow: hidden;
				article{
					min-height:188px;
					width:100%;
					bottom: 0;
					position: absolute;
					@extend .text-center;
					background:{color:rgba(0,0,0,.3);}
					main{
						h2{
							font:{size:50px;family:$main_font;weight:bold;}
							color:#fff;
							line:{height:50px;}
							text:{transform:uppercase;}
							@extend .no-margins;
							@extend .no-paddings;
						}
						p{
							font:{family:$sec_font;size:12px;weight:normal;}
							color:#fff;
							@extend .no-paddings;
							margin:10px 0;
						}
						.more{
							margin:0 auto;
							width:80px;
							height:25px;
							font:{weight:bold;size:12px;}
							background:{color:#fff;}
							border: none;
							float: none;
							a{
								text:{decoration:none;}
								display: block;
								width:100%;
								height:100%;
								color:#000;
							}
						}
					}
					.tags{
						width:100%;
						margin:{top:10px !important;}
						@extend .text-center;
						li{
							display: inline-block;
							padding:3px !important;
							min-width:30px;
							background:{color:$main_color;}
							margin:0 2px !important;
							span{
								color: #fff;
								@include gridle_float(left);
							}
							a{
								display: inline;
								color:#fff;
								text:{decoration:none;}
							}
						}
					}
				}
			}
		}
		.btn_prev{
			position: absolute;
			left:1%;
			top:40%;
			width:30px;
			height:30px;
			color:#fff;
			font: {size:40px;}
			cursor: pointer;
			&:hover{
				color:$main_color;
			}
		}
		.btn_next{
			@extend .btn_prev;
			left:97%;
		}
	}
	.entrena_content{
		@include gridle(12);
		@include gridle_parent();
		@include gridle_clear(both);
		@extend .no-paddings;
		.tit_bar{
			@extend .barra_titulos;
		}
		#entrena{
			@include gridle(2+1/2);
			height: 88px;
			margin:{bottom:42px;}
			@include gridle(6, phoness);
			article{
				background:{position:left;size: 88px 88px;repeat: no-repeat;}
				width: 100%;
				height: 100%;
				display: block;
				.alt_link{
					display: none;
				}
				a{
					text:{decoration:none;}
					main{
						padding:{left: 100px;}
						h2{
							font:{size:12px;weight:bold;family:$main_font;}
							color:$main_color;
							text:{transform:uppercase;}
						}
						.date{
							font:{size:9px;}
							color:#000;
						}
						.more{
							background:{color:$main_color;}
							color: #fff;
							font:{weight: bold;size: 12px;}
							width: 60px;
							@extend .text-center;
						}
					}
				}
				.tags{
					display: none;
				}
			}
			h2{
				@extend .no-margins;
				@extend .no-paddings;
			}
			&.first{
				@include gridle(6);
				height:495px;
				margin:{bottom:0;}
				padding:{left:0;}
				article{
					background:{size:cover;position: center;}
					position: relative;
					overflow: hidden;
					.alt_link{
						display: table;
						width:36px;
						height:36px;
						position: absolute;
						top:0;
						left:0;
						background:{color:$alt_color;}
						color:#fff;
						font:{size:20px !important;}
						@extend .text-center;
						i{
							display: table-cell;
							vertical-align: middle;
						}
					}
					a{
						main{
							@include gridle(12);
							position: absolute;
							bottom: 0;
							padding:{bottom:10px;}
							background:{color:$main_color_alpha;}
							&:hover{
								background: {color:$main_color;}
							}
							.date{
								display: none;
							}
							h2{
								font:{size:26px;weight:bold;family:$main_font;}
								color:#fff;
							}
							.more{
								background:{color:#fff;}
								color:$main_color;
								@include gridle_float(right);
								margin:{right:10px;}
							}
						}
					}
					.tags{
						display: block;
						color:#fff;
						position: absolute;
						bottom: 10px;
						padding:{left:10px  !important;right:10px !important;}
						li{
							@include gridle_float(left);
							margin: {right:10px !important;}
							a{
								font:{size:14px;family:$sec_font;}
								color:#fff;
								text:{decoration:none;}
							}
						}
					}
				}
			}
			&.last{
				@extend .first;
				height: 235px;
				padding:{right:0;left: 10px;}
			}
			&.entrena_ad{
				height:250px;
				@include gridle(3+1/2);
				@include gridle-parent();
				@include gridle-float(right !important);
				margin:{bottom:0;}
				background:{color:$main_color;}
			}
		}
	}
	.motiva_content{
		@extend .entrena_content;
		#motiva{
			@extend #entrena;
			&.first_mot{
				@extend .first;
			}
			&.last_mot{
				@extend .last;
			}
			&.motiva_ad{
				@extend .entrena_ad;
			}
		}
	}
	.equipa_content{
		@extend .entrena_content;
		#equipa{
			@include gridle(4);
			.postes{
				height:259px;
				position: relative;
				overflow: hidden;
				background: {size:cover;position: center;}
				.alt_link{
					text:{decoration:none;}
					display: table;
					width:36px;
					height:36px;
					position: absolute;
					top:0;
					left:0;
					background:{color:$alt_color;}
					color:#fff;
					font:{size:20px !important;}
					@extend .text-center;
					i{
						display: table-cell;
						vertical-align: middle;
					}
				}
				.tags{
					@include gridle(12);
					display: block;
					color:#fff;
					position: absolute;
					bottom: 0px;
					padding:{left:10px !important;right:10px !important;bottom:10px !important;top:10px !important;}
					background:{color:$main_color_alpha;}
					li{
						@include gridle_float(left);
						margin: {right:10px !important;}
						a{
							font:{size:14px;family:$sec_font;}
							color:#fff;
							text:{decoration:none;}
						}
					}
				}
			}
			.cont{
				main{
					h2{
						font:{size:26px;weight:bold;}
						line:{height:26px;}
						color:$main_color;
						text:{transform:uppercase;}
					}
					p{
						font:{family:$sec_font;size:12px;}
						color:#000;
					}
					.more{
						background:{color:$main_color;}
						@include gridle_float(right);
						padding:{left:5px;right:5px;}
						a{
							text:{decoration:none;}
							color: #fff;
							font:{weight: bold;size: 12px;}
							width: 60px;
							@extend .text-center;
						}
					}
				}
			}
		}
	}
	.inner_tit_bar{
		@extend .barra_titulos;
	}
	.cont_post_calendar{
		h1{
			font:{size:72px;}
			color:$main_color;
			text:{transform:uppercase;}
			@extend .text-center;
			@extend .no-paddings;
			@extend .no-margins;
		}
		i{
			&.fa-calendar{
				font:{size:57px;}
				color:$alt_color;
				width:57px;
				display: block;
				@extend .center;
			}
		}
		.meses{
			@include gridle(12);
			.meses_cont{
				@include gridle_clear(both);
				.tit_bar{
					@extend .barra_titulos;
				}
				.no_post{
					@include gridle(12);
					font:{size:14px;}
					color:$main_color;
					@extend .text-center;
				}
				.calendar{
					@include gridle(6);
					height:235px;
					margin:{bottom:26px;}
					a{
						background:{size:cover;position: center;}
						width:100%;
						height:100%;
						display: block;
						overflow: hidden;
						position: relative;
						main{
							@include gridle(12);
							position: absolute;
							bottom: 0;
							padding:{bottom:10px;}
							background:{color:$main_color_alpha;}
							&:hover{
								background:{color:$main_color;}
							}
							h3{
								@extend .no-margins;
								@extend .no-paddings;
								font:{size:25px;}
								color:#fff;
							}
							.data{
								color:#fff;
								font:{size:14px;}
								.data_event{
									display: inline-block;
								}
								.place{
									@extend .data_event;
								}
							}
							.more{
								@include gridle_float(right);
								width:54px;
								height:18px;
								color:$main_color;
								font:{size:12px;weight:bold;}
								background:{color:#fff;}
								@extend .text-center;
							}
						}
					}
					&.first{
						height:495px;
						margin: {bottom:0;}
					}
				}
			}
		}
	}
	
}